<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e968ce">  <td>22/04/18 10:16:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Segment_VendorOverride.TetsSegment_VendorOverride()[pri:0, instance:com.ingrammicro.gpp.segment.Segment_VendorOverride@747f281]">TetsSegment_VendorOverride</td> 
  <td>main@1037854997</td>   <td></td> </tr>
<tr bgcolor="8c977f">  <td>22/04/18 10:15:50</td>   <td>-14636</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupClass.TetsSetupClass()[pri:0, instance:com.ingrammicro.gpp.segment.Segment_VendorOverride@747f281]">&gt;&gt;TetsSetupClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1037854997</td>   <td></td> </tr>
<tr bgcolor="8c977f">  <td>22/04/18 10:16:22</td>   <td>17324</td> <td>&nbsp;</td><td title="&lt;&lt;SetupClass.TestAfterTest()[pri:0, instance:com.ingrammicro.gpp.segment.Segment_VendorOverride@747f281]">&lt;&lt;TestAfterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1037854997</td>   <td></td> </tr>
</table>
