<h2>Reporter output</h2><table><tr><td>GPP URL open Succesfully </td></tr>
<tr><td>Segment_VendorOverride Script started </td></tr>
<tr><td></td></tr>
<tr><td>Segment Option : Search Segment</td></tr>
<tr><td>Vendor_Override is desable </td></tr>
<tr><td></td></tr>
<tr><td>VendorOverride : Vendor Override</td></tr>
<tr><td></td></tr>
</table>