<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="83d8b8">  <td>22/04/17 20:32:38</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;SetupClass.TestAfterTest()[pri:0, instance:com.ingrammicro.gpp.segment.Segment_VendorOverride@7e057f43]">&lt;&lt;TestAfterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@983595261</td>   <td></td> </tr>
<tr bgcolor="ee6fee">  <td>22/04/17 20:32:09</td>   <td>-28965</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Segment_VendorOverride.TetsSegment_VendorOverride()[pri:0, instance:com.ingrammicro.gpp.segment.Segment_VendorOverride@7e057f43]">TetsSegment_VendorOverride</td> 
  <td>main@983595261</td>   <td></td> </tr>
<tr bgcolor="83d8b8">  <td>22/04/17 20:31:18</td>   <td>-79587</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupClass.TetsSetupClass()[pri:0, instance:com.ingrammicro.gpp.segment.Segment_VendorOverride@7e057f43]">&gt;&gt;TetsSetupClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@983595261</td>   <td></td> </tr>
</table>
