<h2>Reporter output</h2><table><tr><td>GPP URL open Succesfully </td></tr>
<tr><td>Segment_VendorOverride Script started </td></tr>
<tr><td></td></tr>
<tr><td>Segment Option : Search Segment</td></tr>
<tr><td>Vendor_Override is desable </td></tr>
<tr><td></td></tr>
<tr><td>VendorOverride : Vendor Override</td></tr>
<tr><td></td></tr>
<tr><td>add rule Button is enable </td></tr>
<tr><td></td></tr>
<tr><td>No data available</td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td>Id</td></tr>
<tr><td></td></tr>
<tr><td>Vendor</td></tr>
<tr><td></td></tr>
<tr><td>Date</td></tr>
<tr><td></td></tr>
<tr><td>Price Rule</td></tr>
<tr><td></td></tr>
<tr><td>Eligibility Flags</td></tr>
<tr><td></td></tr>
<tr><td>Action</td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td>Number</td></tr>
<tr><td></td></tr>
<tr><td>Name</td></tr>
<tr><td></td></tr>
<tr><td>Velocity Code</td></tr>
<tr><td></td></tr>
<tr><td>Activation Time</td></tr>
<tr><td></td></tr>
<tr><td>Expiration Time</td></tr>
<tr><td></td></tr>
<tr><td>Cost Code</td></tr>
<tr><td></td></tr>
<tr><td>%</td></tr>
<tr><td></td></tr>
<tr><td>Min Amt</td></tr>
<tr><td></td></tr>
<tr><td>Pricing</td></tr>
<tr><td></td></tr>
<tr><td>Qty Brk</td></tr>
<tr><td></td></tr>
<tr><td>Floor</td></tr>
<tr><td></td></tr>
<tr><td>ACOP</td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td>add rule Button is enable </td></tr>
<tr><td></td></tr>
<tr><td>Comment_Button is desable </td></tr>
<tr><td></td></tr>
<tr><td>Save_rule_entry Button is enable </td></tr>
<tr><td></td></tr>
<tr><td>Save Segment Button is enable </td></tr>
<tr><td></td></tr>
<tr><td>Cancel Segment Button is enable </td></tr>
<tr><td></td></tr>
<tr><td>Segment_VendorOverride script completed succesfully </td></tr>
</table>